body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: pink;
    padding: 20px;
    text-align: center;
}
.header h1 {
    color: #fff;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px 0;
}
.nav a {
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color:purple;
}
.request-consult {
    background-color: skyblue;
    padding: 30px;
    color: #fff;
    text-align: center;
}
.request-consult img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.request-consult a {
    color: #fff;
    text-decoration: none;
}
.services {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.service {
    background-color: pink;
    padding: 30px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
}
.service img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.service h2 {
    color: white;
    margin-bottom: 15px;
}
.service p {
    color: #6c757d;
}
.contact {
    padding: 30px;
    background-color:skyblue;
    color: #fff;
    text-align: center;
}
.contact a {
    color: #fff;
    text-decoration: none;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: inherit;
    bottom: 0;
    width: 100%;
}
